<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Bizo logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">BiZo</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Início</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">Sobre mim</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contato</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Mais+</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule an appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Mídias Sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/fabricio.bizotto" "svg" "icons-facebook" "alt" "Bizo on Facebook") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Bizo on Twitter") }} -->
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/fabricio.bizotto/" "svg" "icons-instagram" "alt" "Bizo on Instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UCHtvZ-9YllRYKVuW1hAvaGw" "svg" "icons-youtube" "alt" "Bizo on YouTube") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
